<!doctype html>
<html>
	<head>
		<title>hipcad</title>
		<meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <center><h1>{{message}}</h1></center>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  </body>
</html>
