<!doctype html>
<html style="height: 100%; width: 100%;">
	<head>
		<title>hipcad{{title}}</title>
		<meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="/static/js/CodeMirror-master/lib/codemirror.css">
		<link rel="stylesheet" href="/static/js/CodeMirror-master/theme/neat.css">
		<link rel="stylesheet" href="/static/js/CodeMirror-master/addon/foldcode/foldgutter.css">
		<link rel="stylesheet" href="/static/css/hipcad.css">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		{{#if posthog_url}}
		<script src="{{posthog_url}}/static/array.js"></script>
		<script>
			posthog.init('{{posthog_id}}', {api_host: '{{posthog_url}}'})
		</script>
		{{/if}}
	</head>
	<body style="height: 100%; width: 100%;">
		<ul class="menu">
			<li id="menuHome">Home</li>
			<li id="menuNew">New</li>
			<li id="menuSave" disabled>Save</li>
			<li id="menuOpen" disabled>Open</li>
			<li id="menuClear" disabled>Clear</li>
			<li id="menuUserAction" onclick="document.location.hash = '#login'">Login</li>
		</ul> 
		<textarea id="code" name="code">{{src}}</textarea>
		<div class="divider"></div>
		<div id="viewer"></div>
		<div id="errordiv"></div>
		<div id="statusdiv"></div>
		<div id="parametersdiv"></div>
		<div id="tail">
			<div id="filedropzone">
			  <div id="filedropzone_filled">
			    <span id="currentfile">...</span>
			    <div id="filebuttons">
			      <button id="getstlbutton" style="display:none" onclick="getStl();">Get STL</button>
			      <button onclick="superviseAllFiles({forceReload:true});">Reload</button>
				   <label for="autoreload">Auto Reload</label><input type="checkbox" name="autoreload" value="" id="autoreload" onclick="toggleAutoReload();">
			    </div>
			  </div>
			</div>
			<textarea id="console"></textarea>
		</div>
		<script src="/static/js/jquery-1.11.3.min.js"></script>
		<script src="/static/js/CodeMirror-master/lib/codemirror.js"></script>
		<script src="/static/js/CodeMirror-master/mode/lua/lua.js"></script>
		<script src="/static/js/CodeMirror-master/addon/hint/foldcode.js"></script>
		<script src="/static/js/CodeMirror-master/addon/hint/foldgutter.js"></script>
		<script src="/static/js/CodeMirror-master/addon/hint/brace-fold.js"></script>
		<script src="/static/js/CodeMirror-master/addon/hint/show-hint.js"></script>
		<script src="/static/js/spin.min.js"></script>
		<script src="/static/js/lightgl.js"></script>
		<script src="/static/js/csg.js"></script>
		<script src="/static/js/openjscad.js"></script>
		<script src="/static/js/openscad.js"></script>
		<script src="/static/js/underscore.js"></script>
		<script src="/static/js/openscad-openjscad-translator.js"></script>
		<script src="/static/js/bootbox.min.js"></script>
		<script src="/static/js/hipcad.js"></script>
		<script src="/static/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script id="conversionWorker" type="javascript/worker">
		self.onmessage = function(e) {
			// Worker to import STL/OBJ as it can take quite some while for 1MB+ large STLs
		   var data = e.data; // JSON.parse(e.data);
		   me = data.me;     // required for openscad.js parse*()
		   version = data.version;          //     ''               ''

		   if (data.url) {     // RANT: why do something simple, when it can be done complicate: Workers & importScripts() (guys!!)
		      var url = data.url;
		      url = url.replace(/#.*$/,'');    // -- just to be sure ...
		      url = url.replace(/\?.*$/,'');
		      var index = url.indexOf('index.html');
		      if (index != -1) {
		         url = url.substring(0, index);
		      }
		      importScripts(url+'static/js/csg.js',url+'static/js/openjscad.js',url+'static/js/openscad.js');
		      var src, type;
		      data.filename.match(/\.(stl|obj|amf|gcode)$/i);
		      type = RegExp.$1;
		      if(type=='obj') {
		         src = parseOBJ(data.source,data.filename);
		      } else if(type=='amf') {
		         src = parseAMF(data.source,data.filename);
		      } else if(type=='gcode') {
		         src = parseGCode(data.source,data.filename);
		      } else {
		         src = parseSTL(data.source,data.filename);
		      }
		      self.postMessage({ source: src, filename: data.filename, url: data.remote });
		   }
		};
		</script>
		<script>
		var pageData = {{{pageData}}};
		var RECAPTCHA_SITE_KEY = '{{recaptcha}}';
		</script>
	</body>
