<!doctype html>
<html style="height: 100%; width: 100%;">
	<head>
		<title>hipcad</title>
		<meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="/static/css/codemirror.css">
		<link rel="stylesheet" href="/static/css/monokai.css">
		<link rel=stylesheet href="/static/css/compact.css">
        <script src="/static/js/codemirror.js"></script>
		<script src="/static/js/lua.js"></script>
	</head>
	<body style="height: 100%; width: 100%;" onload="onload();">
		<textarea id="code" name="code">{{src}}</textarea>
		<div id="console" style="height: 20px;"></div>
		<script src="/static/js/hipcad.js"></script>
	</body>