@MENU_H : 20px;

body{
  margin: 0;
  padding: 0;
}

#code{
  display: block;
  height: 100%;
  top: @MENU_H;
}

#viewer{
  width: 50%;
  position: absolute;
  top: @MENU_H;
  right: 0;
  bottom: 0;
}

#console{
  position: absolute;
  bottom: 5px;
  right: 10px;
  display: block;
  width: 20%;
  height: 100px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  resize: none;
  background: rgba(255, 255, 255, 0.5);
}

#statusdiv{
  display: block;
  position: absolute;
  top: @MENU_H + 4px;
  right: 10px;
  font-family: courier;
}

.CodeMirror{
  width: 50%;
  top: @MENU_H;
}

.divider{
  width: 3px;
  background: #999;
  position: absolute;
  left: 50%;
  top: @MENU_H;
  bottom: 0;
  border-left: 1px solid #C0C0C0;
  border-right: 1px solid #C0C0C0;
}

.menu{
  background: rgb(200, 200, 200);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: @MENU_H;
  font-family: 'Helvetica Nueue', Arial, Helvetica, sans-serif;
  font-size: 11px;
  padding-left: 20px;
  box-sizing: border-box;
  line-height: @MENU_H - 2px;
  li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 0px rgb(255, 255, 255);
    &:hover{
      text-decoration: underline;
    }
    &[disabled]{
      opacity: 0.5;
    }
  }
}